body{
    margin: 0px;
}
.border{
    border:1px solid;
}
.header-menu{
    width: 100%;
    font-size: 2px;
    background-image: linear-gradient(to right, red, violet, purple,blue);
    height: 40px;
    float: left;
    margin-top: 15px;
}
.container{
    width: 1530px;
    margin: 0 auto;
}
.header-menu a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    vertical-align: middle;
}
.header-menu li{
    color: white;
    list-style-type: none;
    float:left;
    font-size: 15px;
    text-align: justify;
    padding: 8px ;
}
.header-menu li:hover{
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px;
}
.clearfix::after{
    clear: both;
    display: table;
    content: '';
}
.header-menu li.emaghelp{
    float: right;
}
.header-logo{
    width: 1300px;
    padding-left:5% ;
    padding-right:5% ;
    float:left;
}
.logo{
    width: 155px;
    float: left;
}
.search-bar{
    width: 626px;
    float:left ;
}
.buttons{
    width: 429px;
    float: left;
}
.buttons ul li{
    list-style: none;
    float: left;
    margin-right: 30px;
    color: dodgerblue;
    font-size: 18px;
}
.corner{
    border: solid 1.5px;
    border-radius: 15px;
    border-color: dodgerblue;
    width: 90%;
    height: 40px;
}
.header-banner img{
    float: left;
    width: 1540px;
    height: 100px;
}
.content{
    background-color: #e9ebee;
    margin-left: 4%;
    margin-right: 4%;
}
.bc1{
    color: darkblue;
    font-size: x-small;
}
.bc2{
    color: darkblue;
    font-size: x-small;
}
.bc1:hover{
    color: black;
    text-decoration: underline;
}
.bc2:hover{
    color: black;
    text-decoration: underline;
}
.sidebar{
    float: left;
    width: 15%;
    padding-top: 10px;
}
.sb1{
    background-color: #e1f3fd;
}
.sb1 ul{
    list-style: none;
    margin:0;
    padding-left: 10px;
    padding-top: 10px;
    color: #005eb8;
}
.sb1 ul li{
    padding-bottom: 5px;
    color: #005eb8;
}
.sbtitle{
    font-size: large;
    font-weight: bold;
}
.grey{
    color: grey;
}
li{
    list-style: none;
}
.sb2 ul{
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}
.sb1{
    margin-bottom: 30px;
}
.sb2{
    margin-bottom: 30px;
}
.sb3{
    margin-bottom: 30px;
}
.sb3 ul{
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}
.products-container{
    width: 80%;
    float: right;
}
.left{
    float: left;
    margin-left: 40px ;
    margin-right: 40px;
}
.product{
    float: left;
    width: 270px;
    height: 600px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #FEFFFF;
}

.product-stock-status{
    color: #4CAF50;
}
.products{
    padding-top: 70px;
}
.content-background{
    background-color: #e9ebee;
}
.filters{
    background-color: #FEFFFF;
}
.product img{
    width: 270px;
}
.product-new-price{
    color: red;
    font-size: large;
    font-weight: bold;
}
.bottom-info{
    position: relative;
  margin-bottom: 0px;
}
.emag-app{
    float: left;
}
.phone-number{
    float: left;
    padding-top: 30px;
}
.footer-content-icons{
    float: right;
    padding-top: 30px;
}
.footer-banner img{
    width: 100%;
    height:300px;
}
.inp{
    padding: 10px 22px;
    display: inline-block;
}
.button2 {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button2:hover {
    background-color: navy;
    color: white;
}
.footer-content-col{
    color: grey;
    float: left;
    margin-right: 80px ;
}
.footer-content-table{
    margin-left: 5%;
}
.footer-content-col p:hover{
    text-decoration: underline;
}
.product-name{
    margin-left: 50px;
    margin-right: 480px;
}
.product-breadcrumbs{
    margin-left: 50px;
    margin-right: 480px;
}
.product-code {
    margin-left: 50px;
    color: gray;
    font-size: small;
    float: left;
}

.fb-button {
    margin-left: 50px;
    font-size: 18px;
    width: 60px;
    text-decoration: none;
    background-color: midnightblue;
    color:white;

}

/* Add a hover effect if you want */
.fb-button:hover {
    opacity: 0.8;
}
.borderfb{
    border: solid 1px;
    border-radius: 4px;
}
.check{
    float: right;

}
.fb-button{
    float: right;
    margin-right: 35px;
}
.product-middle-image{
    float: left;
}
.content-container{
    margin-top: 50px;
}
.breadcrumbs{
    padding-top: 20px;
}
.product-info{
    float: left;
}
.product-content{
    margin-left: 5%;
    margin-right: 5%;
}
.review{
    color: midnightblue;
}
.review:hover{
    text-decoration: underline;
}
.intrebari{
    color: midnightblue;
}
.intrebari:hover{
    text-decoration: underline;
}
.schimba{
    color: midnightblue;
}
.schimba:hover{
    text-decoration: underline;
}
.prod-info{
    width: 320px;
    float: left;
    margin-left: 150px;
}
.ridicare{
    color: midnightblue;
}
.ridicare:hover{
    text-decoration: underline;
}
.icon-delivery{
    float: left;
    padding-top: 8px;
}
.livrare{
    float: left;
}
.free{
    float: right;
    color: #4CAF50;
}
.button-ssd{
    float: left;
    border: 1px solid cadetblue;
    border-radius: 5px;
    margin-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.product-img-info-price{
    float:left;
    margin-left:0px;
}

.home-sidebar{
    float: left;
    width: 15%;
    height: 500px;
}
.category-icon-and-name{
    margin-bottom: 10%;
}
.category-icon-and-name a{
    text-decoration: none;
    color: black;
}
.home-content-banner{
    width: 85%;
    height: 500px;
    float: right;
}
.home-content-banner img{
    width: 100%;
    height:100%;
}
.home-content-images img{
    width: 19%;
}
.product-small-images{

}
.product-images{
    float: left;
}
.recommended-products{
    float: left;
}
.recommended-product{

}