<td valign="top">
    <table border="0" width="100%">
        <tr><td><img src="../images/filtru1.PNG" /></td></tr>
        <tr><td><img src="../images/filtru2.PNG" /></td></tr>
        <tr><td><img src="../images/filtru3.PNG" /></td></tr>
        <tr><td><img src="../images/filtru4.PNG" /></td></tr>
        <tr><td><img src="../images/filtru5.PNG" /></td></tr>
        <tr><td><img src="../images/filtru6.PNG" /></td></tr>
        <tr><td><img src="../images/filtru7.PNG" /></td></tr>
        <tr><td><img src="../images/filtru8.PNG" /></td></tr>
        <tr><td><img src="../images/filtru9.PNG" /></td></tr>
        <tr><td><img src="../images/filtru10.PNG" /></td></tr>
        <tr><td><img src="../images/filtru11.PNG" /></td></tr>
        <tr><td><img src="../images/filtru12.PNG" /></td></tr>
        <tr><td><img src="../images/filtru13.PNG" /></td></tr>
        <tr><td><img src="../images/filtru14.PNG" /></td></tr>
        <tr><td><img src="../images/filtru15.PNG" /></td></tr>
    </table>
</td>