<td>
    <table border="0" width="100%">
        <tr>
            <td>
                <table border="0" width="100%">
                    <tr>
                        <td>
                            <p style="font-size: xx-large"><strong>Fotolii</strong> 3002 produse</p>
                            <p><hr></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" width="100%">
                                <tr>
                                    <td>
                                        <p>Ordoneaza dupa: <select><option value="Cele mai populare">Cele mai populare</option></select> Produse:<select><option value="60 pe pagina">60 pe pagina</option></select></p>
                                    </td>
                                    <td valign="top">
                                        <p>Tip afisare:<img src="../images/tipafisare.PNG"/> </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" width="100%">
                    <tr>
                        <td><a href="fotoliu.php?titlu=Fotoliu"><img src="../images/fotoliu1.PNG"/></a></td>
                        <td><img src="../images/fotoliu2.PNG"/> </td>
                        <td><img src="../images/fotoliu3.PNG"/> </td>
                        <td><img src="../images/fotoliu4.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu5.PNG"/> </td>
                        <td><img src="../images/fotoliu6.PNG"/> </td>
                        <td><img src="../images/fotoliu7.PNG"/> </td>
                        <td><img src="../images/fotoliu8.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu9.PNG"/> </td>
                        <td><img src="../images/fotoliu10.PNG"/> </td>
                        <td><img src="../images/fotoliu11.PNG"/> </td>
                        <td><img src="../images/fotoliu12.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu13.PNG"/> </td>
                        <td><img src="../images/fotoliu14.PNG"/> </td>
                        <td><img src="../images/fotoliu15.PNG"/> </td>
                        <td><img src="../images/fotoliu16.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu17.PNG"/> </td>
                        <td><img src="../images/fotoliu18.PNG"/> </td>
                        <td><img src="../images/fotoliu19.PNG"/> </td>
                        <td><img src="../images/fotoliu20.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu21.PNG"/> </td>
                        <td><img src="../images/fotoliu22.PNG"/> </td>
                        <td><img src="../images/fotoliu23.PNG"/> </td>
                        <td><img src="../images/fotoliu24.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu25.PNG"/> </td>
                        <td><img src="../images/fotoliu26.PNG"/> </td>
                        <td><img src="../images/fotoliu27.PNG"/> </td>
                        <td><img src="../images/fotoliu28.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu29.PNG"/> </td>
                        <td><img src="../images/fotoliu30.PNG"/> </td>
                        <td><img src="../images/fotoliu31.PNG"/> </td>
                        <td><img src="../images/fotoliu32.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu33.PNG"/> </td>
                        <td><img src="../images/fotoliu34.PNG"/> </td>
                        <td><img src="../images/fotoliu35.PNG"/> </td>
                        <td><img src="../images/fotoliu36.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu37.PNG"/> </td>
                        <td><img src="../images/fotoliu38.PNG"/> </td>
                        <td><img src="../images/fotoliu39.PNG"/> </td>
                        <td><img src="../images/fotoliu40.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu41.PNG"/> </td>
                        <td><img src="../images/fotoliu42.PNG"/> </td>
                        <td><img src="../images/fotoliu43.PNG"/> </td>
                        <td><img src="../images/fotoliu44.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu46.PNG"/> </td>
                        <td><img src="../images/fotoliu47.PNG"/> </td>
                        <td><img src="../images/fotoliu48.PNG"/> </td>
                        <td><img src="../images/fotoliu45.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu49.PNG"/> </td>
                        <td><img src="../images/fotoliu50.PNG"/> </td>
                        <td><img src="../images/fotoliu51.PNG"/> </td>
                        <td><img src="../images/fotoliu52.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu53.PNG"/> </td>
                        <td><img src="../images/fotoliu54.PNG"/> </td>
                        <td><img src="../images/fotoliu55.PNG"/> </td>
                        <td><img src="../images/fotoliu56.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu57.PNG"/> </td>
                        <td><img src="../images/fotoliu58.PNG"/> </td>
                        <td><img src="../images/fotoliu59.PNG"/> </td>
                        <td><img src="../images/fotoliu60.PNG"/> </td>
                    </tr>
                    <tr>
                        <td><p style="font-size: xx-large"><strong>Produse resigilate</strong><br></p></td>
                    </tr>
                    <tr>
                        <td><img src="../images/fotoliu61.PNG"/> </td>
                        <td><img src="../images/fotoliu62.PNG"/> </td>
                        <td><img src="../images/fotoliu63.PNG"/> </td>
                        <td><img src="../images/fotoliu64.PNG"/> </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</td>