<td style="background-color: white" width="12%">
    <p align="center"><img src="../images/trusachei.PNG"></p>
    <p align="center"><strong>Trusa capete chei <br>tubulare Crescent 1/4". <br>3/8".1/2"</strong></p>
    <p><br></p>
    <p align="center"><strike>1.549<sup>99</sup></strike>Lei (-51%)<br></p>
    <p align="center" style="color: red">749<sup>99</sup>Lei</p>
</td>