<td style="background-color: white" width="12%">
    <p align="center"><img src="../images/slefuitor.PNG"></p>
    <p align="center"><strong>Slefuitor cu vibratii<br>Skil F0157380AA, 300<br>W, 22000 RPM +15 foi</strong></p>
    <p align="center"><span>&#11088;&#11088;&#11088;&#11088;</span><span style="color:cornflowerblue;">3.5(2)</span></p>
    <p align="center"><strike>459<sup>99</sup></strike>Lei (-39%)<br></p>
    <p align="center" style="color: red">278<sup>99</sup>Lei</p>
</td>