<tr>
    <td align="center" width="100%">
        <img width="100%" src="../images/bannerfooter.PNG"/>
    </td>
</tr>
<tr>
    <td>
        <table width="100%">
            <tr>
                <td width="30%">
                    <h1>Descarca aplicatia eMAG</h1>
                    <p>Lasă-ne numărul tău de telefon și îți vom trimite link-ul de download.</p>
                </td>
                <td width="2%"></td>
                <td width="34%">
                    <form>
                        <input class="inp" type="text" placeholder="07xxxxxxxx"><button class="button button2">Trimite SMS</button>
                    </form>
                </td>
                <td width="30%">&nbsp;</td>
                <td width="2%"><img src="../images/googleplay.PNG"/></td>
                <td width="2%"><img src="../images/appstore.PNG"/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table width="100%" class="tabelfooter">
            <tr>
                <td width="25%" valign="top">
                    <h3 style="color: #008CBA;">Servicii pentru clienti</h3>
                    <p></p>
                    <p class="par">Deshiderea coletului la livrare</p>
                    <p class="par">30 de zile drept de retur</p>
                    <p class="par">Garantii si service</p>
                    <p class="par">Black Friday eMAG</p>
                    <p class="par">Plata cu cardul in rate fara dobanda</p>
                    <p class="par">Finantare in rate prin eCREDIT</p>
                    <p><img src="../images/mastervisacard.PNG"/></p>
                </td>
                <td width="25%" valign="top">
                    <h3 style="color: #008CBA;">Comenzi si livrare</h3>
                    <p></p>
                    <p class="par">Contul meu la eMAG</p>
                    <p class="par">Cum comand online</p>
                    <p class="par">Livrarea comenzilor</p>
                    <p class="par">eMAG Corporate</p>
                    <p class="par">eMAG Marketplace</p>
                    <p class="par">Modalitati de finantare si plata</p>
                </td>
                <td width="25%" valign="top">
                    <h3 style="color: #008CBA;">Suport clienti</h3>
                    <p></p>
                    <p class="par">Formular reparatie produs</p>
                    <p class="par">Formular returnare produs</p>
                    <p class="par">Contact</p>
                    <p class="par">Conditii generale privind furnizarea serviciilor<br>postale</p>
                    <p class="par">ANPC</p>
                    <p class="par">ANPC - SAL</p>
                </td>
                <td width="25%" valign="top">
                    <h3 style="color: #008CBA;">eMAG.ro</h3>
                    <p></p>
                    <p class="par">Vreau sa vand pe eMAG</p>
                    <p class="par">Termeni si conditii</p>
                    <p class="par">Prelucrarea datelor cu caracter personal</p>
                    <p class="par">Politica de utilizare Cookie-uri</p>
                    <p class="par">Solutionarea Online a litigiilor</p>
                    <p class="par">Programele Fundatiei eMAG</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</body>
</html>