<tr>
    <td>
        <h1>Fotoliu otoman Intex Relax, 99 x x130 x 76 cm, grid</h1>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tr>
                <td style="color: grey">
                    Cod produs:6941057465647
                </td>
                <td width="1100">
                    &nbsp;
                </td>
                <td>
                    f Share
                    <input type="checkbox"> Compara
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tr>
                <td>
                    <img src="../images/fotoliuotoman.png"/>
                </td>
                <td valign="top">
                    <p style="color: grey">Opinia clientilor:</p>
                    <p><span>&#11088;&#11088;&#11088;&#11088;</span><span style="color:cornflowerblue;">3.65</span></p>
                    <p style="color: cornflowerblue"><a href="#"> 20 review-uri | 2 intrebari</a></p>
                    <p><span style="color: grey">Vandut si livrat de:</span><a href="#"> eMAG</a></p>
                    <p><span style="color: grey">Ajunge in:</span> Dolj(Filiasi)<a href="#">schimba</a></p>
                    <p>
                    <table>
                        <tr><td><hr></td></tr>
                        <tr>
                            <td><img src="../images/icon2.png "/> Livrare standard </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td style="color: green">14<sup>99</sup>Lei</td>
                        </tr>
                        <tr style="color: green"><td>Miercuri, 27 Mai-Joi, 28 Mai</td></tr>
                        <tr><td><hr></td></tr>
                    </table>
                    </p>
                    <p style="color: grey">
                        Beneficii:
                    </p>
                    <p>
                        <img src="../images/icon3.png"/>&nbsp;<b>3 puncte</b> prin cardul eMAG-Raiffeisen <a href="#">detalii</a>
                    </p>
                    <p>
                        <img src="../images/icon5.png"/>&nbsp;Deschiderea coletului la livrare
                    </p>
                    <p>
                        <img src="../images/icon6.png"/>&nbsp;Retur gratuit in 30 de zile <a href="#">detalii</a>
                    </p>
                </td>
                <td valign="top" align="center">
                    <h1 style="color: red">1.099<sup>99</sup>Lei</h1>
                    <p style="background-color: green"><span style="color: white">livrare in 5 zile</span><br></p>
                    <p><b>Garantie inculsa: <a href="#">detalii</a> </b><br>
                        Persoane fizice: 24 luni<br>
                        <a href="#">Extinde garantia produsului</a><br>
                        <img src="../images/adaugaincos.png"/><br>
                        <img src="../images/cumparainrate.png"/><br>
                        <img src="../images/adaugalafavorite.png"/><br>
                    </p>

                </td>
            </tr>
        </table>
    </td>
</tr>