<tr>
    <td>
        <table>
            <tr>
                <td height="500" valign="top">
                    <table width="244">
                        <tr>
                            <td align="left">
                                <a style="text-decoration: none" href="productpage.php?titlu=Laptopuri&imagine=a.png&stele=4&imagine2=b.png&stele2=5&imagine3=c.png&stele3=4&imagine4=d.png&stele4=5&imagine5=e.png&stele5=5&imagine6=f.png&stele6=4&imagine7=g.png&stele7=5&imagine8=h.png&stele8=4&nume1=Laptop Gaming MSI GF63&nume2=Laptop HP 15-da0195nq&nume3=Laptop HP 15-dw2016nq&nume4=Laptop Lenovo V15-IWL&nume5=Laptop ASUS VivoBook K512JA&nume6=Laptop ultraportabil Allview Allbook Q&nume7=Laptop HP 15 15s-fq1010nq&nume8=Laptop ASUS M509DA&pretvechi1=1999.99&pret1=1499.99&pretvechi2=1299.99&pret2=499.99&pretvechi3=2999.99&pret3=2499.99&pretvechi4=3599.99&pret4=3499.99&pretvechi5=1999.99&pret5=1499.99&pretvechi6=1899.99&pret6=1499.99&pretvechi7=1799.99&pret7=1499.99&pretvechi8=1999.99&pret8=1499.99"><i class="fa fa-mobile-alt"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Laptop, Tablete & Telefoane</span></a>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td align="left">
                                <i class="fa fa-mouse"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;PC, Periferice & Software</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td align="left">
                                <i class="fas fa-camera"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;TV, Audio-Video, Foto</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <i class="fas fa-charging-station"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Electrocasnice & Climatizare</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <i class="fas fa-gamepad"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Gaming, Carti & Birotica</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <i class="fas fa-shopping-bag"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Bacanie</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td align="left">
                                <i class="fas fa-tshirt"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Fashion</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <i class="fas fa-paint-brush"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Ingrijire personala & Cosmetice</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <a href="categorypage.php?titlu=Categorii" style="text-decoration: none"><i class="fas fa-couch"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Casa, Gradina & Bricolaj</span></a>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <i class="fas fa-table-tennis"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Sport & Activitati in aer liber</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <i class="fas fa-car"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Auto, Moto & RCA</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <i class="fas fa-baby-carriage"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Jucarii, Copii & Bebe</span>
                            </td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr>
                            <td>
                                <i class="fas fa-shopping-basket"></i><span style="color: darkslategrey; font-size: medium">&nbsp;&nbsp;Supermarket</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="100%" valign="top">
                    <img width="1250" src="../images/banner.PNG" height="550">
                </td>
            </tr>
        </table>
    </td>
</tr>