<tr>
    <td>
        <table>
            <tr>
                <td><img src="../images/finantaresiplata.PNG"></td>
                <td><img src="../images/ceamaivariatagamadeproduse.PNG"></td>
                <td><img src="../images/deschiderea.PNG"></td>
                <td><img src="../images/retur.PNG"></td>
                <td><img src="../images/suport.PNG"></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <p align="right" style="color: gray">Pentru furnizarea unui serviciu îmbunătățit folosim cookies. Continuarea navigării se consideră acceptare a politicii de cookies</p>
    </td>
</tr>