<td style="background-color: white" width="12%">
    <p align="center"><img src="../images/dulap.PNG"></p>
    <p align="center"><strong>Dulap Kring Pluto, <br>stejar/alb lucios, <br>147x202x60 cm</strong></p>
    <p align="center"><span>&#11088;&#11088;&#11088;&#11088;</span><span style="color:cornflowerblue;">4.8(5)</span></p>
    <p align="center"><strike>2.229<sup>99</sup></strike>Lei (-56%)<br></p>
    <p align="center" style="color: red">999<sup>99</sup>Lei</p>
</td>