<td style="background-color: white" width="12%">
    <p align="center"><img src="../images/fierdecalcat.PNG"></p>
    <p align="center"><strong>Statie de calcat Philips<br>PerfectCare Aqua Pro<br>GC9325/30, Optimal</strong></p>
    <p align="center"><span>&#11088;&#11088;&#11088;&#11088;</span><span style="color:cornflowerblue;">4.3(10)</span></p>
    <p align="center"><strike>1.237<sup>99</sup></strike>Lei (-41%)<br></p>
    <p align="center" style="color: red">729<sup>99</sup>Lei</p>
</td>