<td style="background-color: white" width="12%">
    <p align="center"><img src="../images/kenzo.PNG"></p>
    <p align="center"><strong>Apa de parfum Kenzo <br>World Intense, Femei, <br>50 ml</strong></p>
    <p align="center"><span>&#11088;&#11088;&#11088;</span><span style="color:cornflowerblue;">2.5(2)</span></p>
    <p align="center"><strike>409<sup>99</sup></strike>Lei (-59%)<br></p>
    <p align="center" style="color: red">166<sup>99</sup>Lei</p>
</td>