.corner{
    border: solid 1.5px;
    border-radius: 10px;
    border-color: dodgerblue;
    width: 85%;
    height: 40px;
}
.nav-bar ul li{
    text-decoration:none;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
}
.nav-bar{
    background: linear-gradient(to right,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);
}
.nav-bar ul li:hover{
    border:solid 1px white;
    border-radius: 13px;
    margin-bottom: 2px;
}
.banner{
    width: 100%;
}
.menu-element a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.menu-element a:hover{
    color: black;
}
.content-banner{
    width: 100%;
}

body{
    background-color: #e9ebee;
}
.header{
    background-color: white;
}
.widget-benefits-icon{
    width: 70px;
    height: 70px;
}
.menu {
    background-color: white;
}
.text{
    font-size: 10px;
}
.widgets {
    background-color: white;
}
@media screen and (max-width: 1200px) {
    .bg {
        height: 1150px;
        background: url('../../images/bgimg.png') no-repeat top, linear-gradient(to bottom, orange,orange);
    }
}
@media screen and (min-width: 1200px) {
    .bg {
        height: 560px;
        background: url('../../images/bgimg.png') no-repeat top, linear-gradient(to bottom, orange,orange);
    }
}

.product-homepage{
    font-size: small;
    align-content: center;
}
.margin-top{
    padding-top: 50px;
}
.footer-table{
    background-color: #e7eff8;
}
.something{
    background-color: white;
}
.text-footer{
    font-size: 12px;
}
.navbar ul{
    color: white;
}
.no-border:hover{
    border: solid 0px !important;
}
.breadcrumbs{
    font-size: 0.8rem;
    color: #4359c7;
}
.sidebar-card{
    font-size:0.8rem;
}
.filters{
    background-color: #FEFFFF;
    font-size: 0.7rem;
}
.product-image{
    width: 220px;
    height: 200px;
}
.product-list a{
    color: black;
}
.product-list a:hover{
    text-decoration: none;
}
.fb-button:hover {
    opacity: 0.8;
}
.borderfb{
     border: solid 1px;
     border-radius: 4px;
 }
.fb-button {
    font-size: 18px;
    width: 20px;
    text-decoration: none;
    background-color: midnightblue;
    color:white;

}
.product-content{
    background-color: white;
}
.prod-info{
    font-size: 0.85rem;
}
.width-of-buttons{
    width: 11rem;
}
.old-price{
    color: red;
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: bold;
    padding-left: 1.7rem;
}
.price{
    color: red;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
}
.form-style{
    margin-top:5rem !important;
}
#myDIV img{
    border: solid 1px black ;
}
@media screen and (max-width: 1200px) {
    .product-center {
        text-align: center;
    }
}
@media screen and (min-width: 1200px){
    .add-to-cart-favorites{
        margin-left: 20%;
    }
}