.rating-stars{
    float: left;
}
.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.rating{
    padding-left: 10px;
    font-size: 30px;
}

.number-of-stars{
    float: left;
}
.progress{
    width: 200px;
}