<div class="footer">
    <div class="container-fluid  pt-4 something">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <h4 class="font-weight-bold">Descarcă aplicația eMAG</h4>
                    <p class="">Lasă-ne numărul tău de telefon și îți vom trimite link-ul de download.
                    </p>
                </div>
                <div class="col-6 col-lg-5">
                    <div class="row">
                        <div class="col-9 mr-0 pr-0">
                            <input class="form-control" type="text" placeholder="07xxxxxxxx">
                        </div>
                        <div class="col-3 ml-0 pl-0">
                            <button type="button" class="btn btn-primary">Trimite SMS</button>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-lg-2"><img data-src="https://s12emagst.akamaized.net/assets/ro/images/google-play-badge.svg" src="https://s12emagst.akamaized.net/assets/ro/images/google-play-badge.svg" alt="Store badge" class="lozad" data-loaded="true"></div>
                <div class="col-8 d-lg-none"></div>
                <div class="col-2 col-lg-2"><img data-src="https://s12emagst.akamaized.net/assets/ro/images/apple-store-badge.svg" src="https://s12emagst.akamaized.net/assets/ro/images/apple-store-badge.svg" alt="Store badge" class="lozad" data-loaded="true"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-table">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h4 class="text-primary">Servicii pentru clienti</h4>
                    <p class="text-secondary">Deschiderea coletului la livrare</p>
                    <p class="text-secondary">30 de zile drept de retur</p>
                    <p class="text-secondary">Garantii si service</p>
                    <p class="text-secondary">Black Friday eMAG</p>
                    <p class="text-secondary">Plata cu cardul in rate fara dobanda</p>
                    <p class="text-secondary">Finantare in rate prin eCREDIT</p>
                </div>
                <div class="col-3">
                    <h4 class="text-primary">Comenzi si livrare</h4>
                    <p class="text-secondary">Contul meu la eMAG</p>
                    <p class="text-secondary">Cum comand online</p>
                    <p class="text-secondary">Livrarea comenzilor</p>
                    <p class="text-secondary">eMAG Corporate</p>
                    <p class="text-secondary">eMAG Marketplace</p>
                    <p class="text-secondary">Modalitati de finantare si plata</p>
                </div>
                <div class="col-3">
                    <h4 class="text-primary">Suport clienti</h4>
                    <p class="text-secondary">Formular reparatie produs</p>
                    <p class="text-secondary">Formular returnare produs</p>
                    <p class="text-secondary">Contact</p>
                    <p class="text-secondary">Conditii generale privind furnizarea serviciilor postale</p>
                    <p class="text-secondary">ANPC</p>
                    <p class="text-secondary">ANPC - SAL</p>
                </div>
                <div class="col-3">
                    <h4 class="text-primary">eMAG.ro</h4>
                    <p class="text-secondary">Vreau sa vand pe eMAG</p>
                    <p class="text-secondary">Termeni si conditii</p>
                    <p class="text-secondary">Prelucrarea datelor cu caracter personal</p>
                    <p class="text-secondary">Politica de utilizare Cookie-uri</p>
                    <p class="text-secondary">Solutionarea Online a litigiilor</p>
                    <p class="text-secondary">Programele Fundatiei eMAG</p>
                </div>
            </div>
        </div>
    </div>
</div>