<tr>
    <td>
        <img src="../images/banner2.png"/>
    </td>
</tr>
<tr>
    <td>
        Laptop, Tablete & Telefoane / Telefoane mobile & accesorii / Telefoane Mobile / Samsung
    </td>
</tr>
<tr>
    <td>
        <h1>Telefon mobil Samsung Galaxy M20, Dual SIM, 64GB, 4G, Charcoal Black</h1>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tr>
                <td style="color: grey">
                    Cod produs: SM-M205FDAWROM
                </td>
                <td width="1100">
                    &nbsp;
                </td>
                <td>
                    f Share
                    <input type="checkbox"> Compara
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table>
            <tr>
                <td>
                    <img src="../images/telefon2.png"/>
                </td>
                <td>
                    <table border="0">
                        <tr valign="left">
                            <td>&#127873;Cadou</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/baterie.png"/>
                            </td>
                            <td>
                                Baterie externa cu incarcare solara,<br> 5000 mAh, 2 porturi USB, Black/Blue<br>
                                vezi detalii<br>
                                (11900 Lei)
                            </td>
                        </tr>
                    </table>
                    <p style="color: grey">Opinia clientilor:</p>
                    <p><span>&#11088;&#11088;&#11088;&#11088;</span><span style="color:cornflowerblue;">4.30</span></p>
                    <p style="color: cornflowerblue"><a href="#"> 201 review-uri | 43 de intrebari</a></p>
                    <p><span style="color: grey">Vandut si livrat de:</span><a href="#"> MARKBEK BUSINESS</a></p>
                    <p><span style="color: grey">Ajunge in:</span> Dolj(Filiasi)<a href="#">schimba</a></p>
                    <p>
                    <table>
                        <tr><td><hr></td></tr>
                        <tr>
                            <td><img src="../images/icon.png"/>&nbsp;&nbsp;Ridicare personala</td>
                        </tr>
                        <tr>
                            <td><a href="#"><span style="text-align: center">alege din 16 puncte de ridicare</span></a></td>
                        </tr>
                        <tr><td><hr></td></tr>
                        <tr>
                            <td><img src="../images/icon2.png "/> Livrare standard </td>
                            <td></td>
                            <td style="color: green">Gratuita</td>
                        </tr>
                        <tr><td><hr></td></tr>
                    </table>
                    </p>
                    <p style="color: grey">
                        Beneficii:
                    </p>
                    <p>
                        <img src="../images/icon3.png"/>&nbsp;<b>12 puncte</b> prin cardul eMAG-Raiffeisen <a href="#">detalii</a>
                    </p>
                    <p>
                        <img src="../images/icon4.png"/>&nbsp;14zile drept de retur
                    </p>
                    <p style="color: grey">
                        Alege Culoare
                    </p>
                    <p>
                        <img src="../images/culoaretlf.png"/>
                    </p>
                    <p style="color: grey">
                        Alege Memorie Interna<br>
                        <button class="button button4"><span style="color: darkblue">64GB</span> </button>
                    </p>
                </td>
                <td valign="top" align="center">
                    <h1 style="color: red">1.099<sup>99</sup>Lei</h1>
                    <p style="background-color: green"><span style="color: white">livrare in 5 zile</span><br></p>
                    <p><b>Garantie inculsa: <a href="#">detalii</a> </b><br>
                        Persoane fizice: 24 luni<br>
                        <a href="#">Extinde garantia produsului</a><br>
                        <img src="../images/adaugaincos.png"/><br>
                        <img src="../images/cumparainrate.png"/><br>
                        <img src="../images/adaugalafavorite.png"/><br>
                    </p>

                </td>
            </tr>
        </table>
    </td>
</tr>